<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/glimmervoid.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4/styles/github.min.css">
  <link rel="alternate" type="application/atom+xml" href="/index.xml"/>
</head>
<body>

<div class="wrapper">
