<div class="title">
    <h3>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h3>
{{ if eq .Section "post"}}
    <span class="meta">
        {{ range .Params.categories }}
        <a href="/categories/{{.}}">/{{.}}</a>
        {{ else }}
        unknown
        {{ end }}
        at {{ .Date.Format "2006-01-02" }}
    </span>
{{ end }}
</div>

<div class="content markdown-body">{{ .Summary }}</div>

<p class="tags">
    <a href="{{ .Permalink }}">Full Article</a>
    {{ range .Params.tags }}
        <a href="/tags/{{.}}">#{{.}}</a>
    {{ end }}
</p>

